# Android
gradle/
.gradle/
local.properties
.idea/
*.iml
build/
*.keystore

# iOS
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*sync/
.sconsign.dblite
.tags*
**/.vagrant/
**/DerivedData/
Icon?
**/Pods/
**/.symlinks/
profile
xcuserdata
**/.generated/
Flutter/App.framework
Flutter/Flutter.framework
Flutter/Flutter.podspec
Flutter/Generated.xcconfig
Flutter/ephemeral/
Flutter/app.flx
Flutter/app.zip
Flutter/flutter_assets/
Flutter/flutter_export_environment.sh
ServiceDefinitions.json
Runner/GeneratedPluginRegistrant.*

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
**/doc/api/
.dart_tool/
.packages
web/firebase-config.js
lib/env.g.dart
assets/environment.json
assets/app_environment.json
flutter_export_environment.sh
coverage/

# Others
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
